<ng-template #cocktailsListTemplate>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon class="color-white">more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button *ngFor="let cocktail of cocktails" mat-menu-item (click)="scrollToCocktail(cocktail.title)">
            <span>{{cocktail.title}}</span>
        </button>
    </mat-menu>
</ng-template>

<ng-template #shoppingListButtonTemplate>
    <button class="margin-right-2" *ngIf="isMixologistMode" mat-icon-button (click)="openShoppingList()">
        <mat-icon class="color-white">shopping_basket</mat-icon>
    </button>
</ng-template>

<div class="row">
    <app-cocktail-card
        class="d-flex justify-content-center col-xl-4 col-sm-6"
        *ngFor="let cocktail of cocktails"
        [cocktail]="cocktail"
        [attr.id]="cocktail.title"
        [isMixologistMode]="isMixologistMode"
    ></app-cocktail-card>
</div>
