<form class="d-flex flex-column p-5" [formGroup]="ingredientForm">
    <mat-form-field appearance="fill">
        <mat-label>{{'RecipeCreation.RecipeTitle' | translate}}</mat-label>
        <input matInput placeholder="{{'RecipeCreation.RecipeTitle' | translate}}" formControlName="recipeTitle" />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>

    <mat-label>{{'RecipeCreation.RecipeListOfIngredients' | translate}}</mat-label>
    <div formArrayName="recipeListOfIngredients">
        <div *ngFor="let ingredient of ingredients.controls; let i = index">
            <div [formGroupName]="i">
                <mat-form-field appearance="fill">
                    <mat-label>{{'RecipeCreation.RecipeIngredient' | translate}}</mat-label>
                    <input matInput placeholder="{{'RecipeCreation.RecipeIngredient' | translate}}" formControlName="ingredient" />
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>{{'RecipeCreation.RecipeHowMuchOfIngredient' | translate}}</mat-label>
                    <input matInput placeholder="{{'RecipeCreation.RecipeHowMuchOfIngredient' | translate}}" formControlName="quantity" />
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>{{'RecipeCreation.RecipeMeasurementUnit' | translate}}</mat-label
                    ><mat-select formControlName="measurementUnit">
                        <mat-option value="option">{{'MeasurementUnits.Dash' | translate }}</mat-option>
                        <mat-option value="option">{{'MeasurementUnits.Splash' | translate }}</mat-option>
                        <mat-option value="option">{{'MeasurementUnits.Liter' | translate }}</mat-option>
                        <mat-option value="option">{{'MeasurementUnits.Milliliter' | translate }}</mat-option>
                        <mat-option value="option">{{'MeasurementUnits.Egg' | translate }}</mat-option>
                        <mat-option value="option">{{'MeasurementUnits.Teaspoon' | translate }}</mat-option>
                        <mat-option value="option">{{'MeasurementUnits.Tablespoon' | translate }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <button (click)="removeIngredient(i)" mat-fab color="error" aria-label="Example icon button with a home icon">
                    <mat-icon>remove</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div>
        <mat-label>{{'RecipeCreation.AddNewIngredient' | translate}}</mat-label>
        <button (click)="addIngredient()" mat-fab color="warn" aria-label="Example icon button with a home icon">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <app-file-upload-component
        [formControlLabel]="'RecipeCreation.RecipePictureForGuests'"
        [control]="ingredientForm.controls['recipePictureForGuests']"
    ></app-file-upload-component>

    <app-file-upload-component
        [formControlLabel]="'RecipeCreation.RecipePictureForCreator'"
        [control]="ingredientForm.controls['recipePictureForCreator']"
    ></app-file-upload-component>

    <mat-form-field appearance="fill">
        <mat-label>{{'RecipeCreation.RecipeProcess' | translate}}</mat-label>
        <input matInput placeholder="{{'RecipeCreation.RecipeProcess' | translate}}" formControlName="recipeProcess" />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>{{'RecipeCreation.RecipeGarnish' | translate}}</mat-label>
        <input matInput placeholder="{{'RecipeCreation.RecipeGarnish' | translate}}" formControlName="recipeGarnish" />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>{{'RecipeCreation.RecipeNotes' | translate}}</mat-label>
        <input matInput placeholder="{{'RecipeCreation.RecipeNotes' | translate}}" formControlName="recipeNotes" />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>{{'RecipeCreation.RecipeGlassPlate' | translate}}</mat-label>
        <input matInput placeholder="{{'RecipeCreation.RecipeGlassPlate' | translate}}" formControlName="recipeGlassPlate" />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
</form>
