ul {
    list-style-type: none;
}

div {
    color: white;
    text-transform: uppercase;
}

.font-weight-light-custom {
    font-weight: 100;
}

.font-weight-bold-custom {
    font-weight: 800
}

.padding-left-2rem {
    padding-left: 2rem;
}