<div class="mx-auto">
    <ul>
        <li *ngFor="let ingredient of cocktail.ingredients">
            <span class="font-weight-light-custom">{{ingredient.name}}</span>&nbsp;
            <span *ngIf="isMixologistMode" class="font-weight-bold-custom">({{ingredient.quantity}})</span>
        </li>
    </ul>

    <div *ngIf="isMixologistMode">
        <div *ngIf="cocktail.creatoRelevantInfo.garnish.length > 0">
            <h5 class="font-weight-bold-custom">Garnish</h5>
            <ul>
                <li *ngFor="let garnish of cocktail.creatoRelevantInfo.garnish"><span class="font-weight-light-custom">{{garnish}}</span>&nbsp;</li>
            </ul>
        </div>
        <div *ngIf="cocktail.creatoRelevantInfo.notes.length > 0">
            <h5 class="font-weight-bold-custom">Notes</h5>
            <ul>
                <li *ngFor="let note of cocktail.creatoRelevantInfo.notes"><span class="font-weight-light-custom">{{note}}</span>&nbsp;</li>
            </ul>
        </div>
        <div *ngIf="cocktail.creatoRelevantInfo.glass.length > 0">
            <h5 class="font-weight-bold-custom">Glass</h5>
            <p class="padding-left-2rem">{{cocktail.creatoRelevantInfo.glass}}</p>
        </div>
    </div>
</div>
