<mat-toolbar>
    <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>
</mat-toolbar>
<mat-drawer-container [hasBackdrop]="'true'">
    <mat-drawer #drawer [mode]="'over'"
        ><div class="d-flex justify-content-center flex-column vh-100-56">
            <app-side-nav-container class="d-flex justify-content-center flex-column vh-100-56"></app-side-nav-container></div
    ></mat-drawer>
    <mat-drawer-content>
        <div class="d-flex justify-content-center flex-column vh-100-56">
            <app-menu-buttons-container class="d-flex justify-content-center flex-column vh-100-56"></app-menu-buttons-container>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
