<ng-template #stepperNavButtons let-stepper="myStepper">
    <div>
        <button mat-button (click)="stepperTriggerPrevious()" type="button">Back</button>
        <button mat-button (click)="stepperTriggerNext()" type="button">Next</button>
    </div>
</ng-template>

<form [formGroup]="addNewRecipeForm" class="vh-100-56">
    <mat-stepper labelPosition="bottom" #stepper [orientation]="isScreenWiderThanMd ? 'horizontal' : 'vertical'" class="h-100">
        <mat-step [stepControl]="addNewRecipeForm.controls.recipeTitle" errorMessage="{{'RecipeCreation.Stepper.StepsErrors.Title' | translate}}">
            <ng-template matStepLabel>{{'RecipeCreation.Stepper.StepsLabels.Title' | translate}}</ng-template>

            <mat-form-field appearance="fill">
                <mat-label>{{'RecipeCreation.Form.Title' | translate}}</mat-label>
                <input matInput placeholder="{{'RecipeCreation.Form.Title' | translate}}" formControlName="recipeTitle" required />
            </mat-form-field>

            <div>
                <button mat-button matStepperNext type="button">Next</button>
            </div>
        </mat-step>

        <mat-step
            [stepControl]="addNewRecipeForm.controls.recipeListOfIngredients"
            errorMessage="{{'RecipeCreation.Stepper.StepsErrors.ListOfIngredients' | translate}}"
        >
            <ng-template matStepLabel>{{'RecipeCreation.Stepper.StepsLabels.ListOfIngredients' | translate}}</ng-template>

            <app-add-ingredients [isScreenWiderThanMd]="isScreenWiderThanMd" [addNewRecipeForm]="addNewRecipeForm"></app-add-ingredients>

            <ng-container *ngTemplateOutlet="stepperNavButtons"></ng-container>
        </mat-step>

        <mat-step
            [stepControl]="addNewRecipeForm.controls.recipePictureForGuests"
            errorMessage="{{'RecipeCreation.Stepper.StepsErrors.PictureForGuests' | translate}}"
        >
            <ng-template matStepLabel>{{'RecipeCreation.Stepper.StepsLabels.PictureForGuests' | translate}}</ng-template>

            <app-file-upload-component
                [formControlLabel]="'RecipeCreation.Form.PictureForGuests'"
                [control]="addNewRecipeForm.controls.recipePictureForGuests"
            >
            </app-file-upload-component>

            <ng-container *ngTemplateOutlet="stepperNavButtons"></ng-container>
        </mat-step>

        <mat-step
            [stepControl]="addNewRecipeForm.controls.recipePictureForCreator"
            errorMessage="{{'RecipeCreation.Stepper.StepsErrors.PictureForCreator' | translate}}"
        >
            <ng-template matStepLabel>{{'RecipeCreation.Stepper.StepsLabels.PictureForCreator' | translate}}</ng-template>
            <app-file-upload-component
                [formControlLabel]="'RecipeCreation.Form.PictureForCreator'"
                [control]="addNewRecipeForm.controls.recipePictureForCreator"
            >
            </app-file-upload-component>
            <ng-container *ngTemplateOutlet="stepperNavButtons"></ng-container>
        </mat-step>

        <mat-step
            [stepControl]="addNewRecipeForm.controls.recipeListOfPreparationSteps"
            errorMessage="{{'RecipeCreation.Stepper.StepsErrors.Process' | translate}}"
        >
            <ng-template matStepLabel>{{'RecipeCreation.Stepper.StepsLabels.Process' | translate}}</ng-template>
            <app-add-preparation-preparation-steps
                [isScreenWiderThanMd]="isScreenWiderThanMd"
                [addNewRecipeForm]="addNewRecipeForm"
            ></app-add-preparation-preparation-steps>
            <ng-container *ngTemplateOutlet="stepperNavButtons"></ng-container>
        </mat-step>

        <mat-step [stepControl]="addNewRecipeForm.controls.recipeGarnish" errorMessage="{{'RecipeCreation.Stepper.StepsErrors.Garnish' | translate}}">
            <ng-template matStepLabel>{{'RecipeCreation.Stepper.StepsLabels.Garnish' | translate}}</ng-template>
            <mat-form-field appearance="fill">
                <mat-label>{{'RecipeCreation.Form.Garnish' | translate}}</mat-label>
                <input matInput placeholder="{{'RecipeCreation.Form.Garnish' | translate}}" formControlName="recipeGarnish" />
            </mat-form-field>
            <ng-container *ngTemplateOutlet="stepperNavButtons"></ng-container>
        </mat-step>

        <mat-step [stepControl]="addNewRecipeForm.controls.recipeNotes" errorMessage="{{'RecipeCreation.Stepper.StepsErrors.Notes' | translate}}">
            <ng-template matStepLabel>{{'RecipeCreation.Stepper.StepsLabels.Notes' | translate}}</ng-template>
            <mat-form-field appearance="fill">
                <mat-label>{{'RecipeCreation.Form.Notes' | translate}}</mat-label>
                <input matInput placeholder="{{'RecipeCreation.Form.Notes' | translate}}" formControlName="recipeNotes" />
            </mat-form-field>
            <ng-container *ngTemplateOutlet="stepperNavButtons"></ng-container>
        </mat-step>

        <mat-step
            [stepControl]="addNewRecipeForm.controls.recipeGlassPlate"
            errorMessage="{{'RecipeCreation.Stepper.StepsErrors.GlassPlate' | translate}}"
        >
            <ng-template matStepLabel>{{'RecipeCreation.Stepper.StepsLabels.GlassPlate' | translate}}</ng-template>
            <mat-form-field appearance="fill">
                <mat-label>{{'RecipeCreation.Form.GlassPlate' | translate}}</mat-label>
                <input matInput placeholder="{{'RecipeCreation.Form.GlassPlate' | translate}}" formControlName="recipeGlassPlate" />
            </mat-form-field>
            <ng-container *ngTemplateOutlet="stepperNavButtons"></ng-container>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>{{'RecipeCreation.Stepper.StepsLabels.Done' | translate}}</ng-template>
            <p>You are now done.</p>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
                <button mat-button (click)="submitForm()">Submit</button>
            </div>
        </mat-step>
    </mat-stepper>
</form>
