<ng-template #drawerButton>
    <button mat-raised-button (click)="drawer.toggle(); toggle()">
        <mat-icon class="transform" [ngClass]="{'rotate': val}">chevron_right</mat-icon><mat-icon>menu</mat-icon>
    </button>
</ng-template>
<app-party-menu-navbar class="sticky-top" [drawerButton]="drawerButton"></app-party-menu-navbar>
<mat-drawer-container [hasBackdrop]="'true'">
    <mat-drawer #drawer [mode]="'over'" class="width-side-bar" style="position: fixed"
        ><div class="d-flex justify-content-center flex-column h-100">
            <app-side-nav-container class="d-flex justify-content-center flex-column h-100"></app-side-nav-container></div
    ></mat-drawer>
    <mat-drawer-content>
        <div [@routeAnimations]="prepareRoute()">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
