<form [formGroup]="addNewRecipeForm">
    <div formArrayName="recipeListOfIngredients">
        <div *ngFor="let ingredient of ingredients.controls; let i = index">
            <div [formGroupName]="i" class="d-flex align-items-center">
                <div>
                    <mat-form-field [ngClass]="{'margin-left-2': isScreenWiderThanMd}" appearance="fill">
                        <mat-label>{{'RecipeCreation.Form.Ingredient' | translate}}</mat-label>
                        <input matInput placeholder="{{'RecipeCreation.Form.Ingredient' | translate}}" formControlName="ingredient" required />
                    </mat-form-field>
                    <mat-form-field [ngClass]="{'margin-left-2': isScreenWiderThanMd}" appearance="fill">
                        <mat-label>{{'RecipeCreation.Form.HowMuchOfIngredient' | translate}}</mat-label>
                        <input matInput placeholder="{{'RecipeCreation.Form.HowMuchOfIngredient' | translate}}" formControlName="quantity" required />
                    </mat-form-field>
                    <mat-form-field [ngClass]="{'margin-left-2': isScreenWiderThanMd}" appearance="fill">
                        <mat-label>{{'RecipeCreation.Form.MeasurementUnit' | translate}}</mat-label>
                        <mat-select formControlName="measurementUnit">
                            <mat-option value="option">{{'MeasurementUnits.Dash' | translate }}</mat-option>
                            <mat-option value="option">{{'MeasurementUnits.Splash' | translate }}</mat-option>
                            <mat-option value="option">{{'MeasurementUnits.Liter' | translate }}</mat-option>
                            <mat-option value="option">{{'MeasurementUnits.Milliliter' | translate }}</mat-option>
                            <mat-option value="option">{{'MeasurementUnits.Egg' | translate }}</mat-option>
                            <mat-option value="option">{{'MeasurementUnits.Teaspoon' | translate }}</mat-option>
                            <mat-option value="option">{{'MeasurementUnits.Tablespoon' | translate }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field [ngClass]="{'margin-left-2': isScreenWiderThanMd}" appearance="fill">
                        <mat-label>{{'RecipeCreation.Form.IngredientType' | translate}}</mat-label>
                        <mat-select formControlName="ingredientType">
                            <mat-option value="option">{{'MeasurementUnits.Dash' | translate }}</mat-option>
                            <mat-option value="option">{{'MeasurementUnits.Splash' | translate }}</mat-option>
                            <mat-option value="option">{{'MeasurementUnits.Liter' | translate }}</mat-option>
                            <mat-option value="option">{{'MeasurementUnits.Milliliter' | translate }}</mat-option>
                            <mat-option value="option">{{'MeasurementUnits.Egg' | translate }}</mat-option>
                            <mat-option value="option">{{'MeasurementUnits.Teaspoon' | translate }}</mat-option>
                            <mat-option value="option">{{'MeasurementUnits.Tablespoon' | translate }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <button class="margin-left-2" (click)="removeIngredient(i)" mat-mini-fab color="error">
                    <mat-icon>remove</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center" [ngClass]="{'justify-content-center': isScreenWiderThanMd}">
        <button (click)="addIngredient()" mat-fab extended color="primary">
            <span>{{'RecipeCreation.Form.AddNewIngredient' | translate}}</span>
            <mat-icon>add</mat-icon>
        </button>
    </div>
</form>
