@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';

:root {
    --breakpoint-md: #{map-get($grid-breakpoints, md)};
}

body {
    overflow-x: hidden;
}
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.vh-100-56 {
    height: calc(100vh - 56px);
}

.width-side-bar {
    width: 256px;
    max-width: 100%;
}
