<mat-toolbar class="background-black d-flex justify-content-between">
    <div class="d-flex align-items-center">
        <ng-container #addButtons>
            <button *ngIf="isScreenWiderThanMd" (click)="dummyAction()" mat-fab extended color="primary">
                {{'Table.Actions.ButtonAddNewRecipe' | translate}} <mat-icon>add</mat-icon>
            </button>
            <button *ngIf="isScreenWiderThanMd" (click)="dummyAction()" mat-fab extended color="primary" class="mx-2">
                {{'Table.Actions.ButtonAddNewMenu' | translate}} <mat-icon>add</mat-icon>
            </button>
            <button *ngIf="!isScreenWiderThanMd" (click)="dummyAction()" mat-mini-fab color="primary" class="mx-2">
                <mat-icon>add</mat-icon>
            </button>
        </ng-container>
        <ng-container #deleteButtons>
            <button *ngIf="isScreenWiderThanMd" (click)="dummyAction()" mat-fab extended color="primary" class="mx-2">
                {{'Table.Actions.ButtonRemove' | translate}} <mat-icon>delete_outline</mat-icon>
            </button>

            <button *ngIf="!isScreenWiderThanMd" (click)="dummyAction()" mat-mini-fab color="primary" class="mx-2">
                <mat-icon>delete_outline</mat-icon>
            </button>
        </ng-container>
    </div>
    <ng-container #filterButtons>
        <button *ngIf="isScreenWiderThanMd" (click)="drawer.toggle()" mat-fab color="primary" class="mx-2">
            <mat-icon>filter_list</mat-icon>
        </button>
        <button *ngIf="!isScreenWiderThanMd" (click)="drawer.toggle()" mat-mini-fab color="primary" class="mx-2">
            <mat-icon>filter_list</mat-icon>
        </button>
    </ng-container>
</mat-toolbar>
