<mat-toolbar class="background-black d-flex justify-content-between">
    <div #leftSideButtons class="d-flex align-items-center">
        <ng-container #addButtons>
            <button *ngIf="isScreenWiderThanMd" (click)="navigateToCreationMenu()" mat-fab extended color="primary">
                <span *ngIf="tableMode === TableModes.Recipes">{{'Table.Actions.ButtonAddNewRecipe' | translate}}</span>
                <span *ngIf="tableMode === TableModes.Menus">{{'Table.Actions.ButtonAddNewMenu' | translate}}</span>
                <mat-icon>add</mat-icon>
            </button>
            <button *ngIf="!isScreenWiderThanMd" (click)="navigateToCreationMenu()" mat-mini-fab color="primary" class="mx-2">
                <mat-icon>add</mat-icon>
            </button>
        </ng-container>
        <ng-container #deleteButtons>
            <button *ngIf="isScreenWiderThanMd" (click)="dummyAction()" mat-fab extended color="primary" class="mx-2">
                {{'Table.Actions.ButtonRemove' | translate}} <mat-icon>delete_outline</mat-icon>
            </button>

            <button *ngIf="!isScreenWiderThanMd" (click)="dummyAction()" mat-mini-fab color="primary" class="mx-2">
                <mat-icon>delete_outline</mat-icon>
            </button>
        </ng-container>
    </div>
    <div #rightSideButtons class="d-flex align-items-center">
        <mat-form-field subscriptSizing="dynamic">
            <mat-label>{{ 'Table.Actions.TableDisplayMode' | translate}}</mat-label>
            <mat-select [(value)]="tableMode" (selectionChange)="test($event)">
                <mat-option *ngFor="let mode of tableModesList" [value]="mode.value"> {{ mode.translationKey | translate}} </mat-option>
            </mat-select>
        </mat-form-field>
        <ng-container #filterButtons>
            <button *ngIf="isScreenWiderThanMd" (click)="drawer.toggle()" mat-fab color="primary" class="mx-2">
                <mat-icon>filter_list</mat-icon>
            </button>
            <button *ngIf="!isScreenWiderThanMd" (click)="drawer.toggle()" mat-mini-fab color="primary" class="mx-2">
                <mat-icon>filter_list</mat-icon>
            </button>
        </ng-container>
    </div>
</mat-toolbar>
