.cocktail-image-wrapper {
    max-width: 100%;
    max-height: 100%;
}

img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

mat-card,
mat-card-subtitle {
    color: white;
}

.background-texture {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(30, 30, 32, 1) 52%, rgba(49, 87, 94, 1) 100%);
}

.mat-elevation-z8 {
    box-shadow: 0px 0px 16px 7px black;
}
